body {
  height: 90vh;
  font-size: 5vh;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  appearance: none;
  background-color: white;
  border: solid black 2px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 15px;
  font-weight: 900;
}
